.containerLeft{
    height: 100vh;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 90px;
    border-inline: .1875rem solid #FFFFFF;
};

.containerRight{
    height: 100vh;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 90px;
    border-inline: .1875rem solid #FFFFFF;
};

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(0.625rem + 2vmin);
    color: #FFFFFF;
    border-radius: .625rem;
    padding: 3.125rem;
    gap: 1.25rem;
};

.h2Title {
    font-size: 2.125rem;
    padding-bottom: 0.3125rem;
    padding-top: 0.3125rem;
}


label > input, div > div > input {
    margin-left: .625rem;
    padding: .3125rem;
    width: 25rem;
    background: #FFFFFF
}

div > button {
    font-size: 14px;
    padding: 5px;
    margin-top: 10px;
    background: #FFFFFF;
}

.walletInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    word-wrap: 'break-word';
    overflow-wrap: 'break-word';
    gap: 0.625rem;
}