.timerContainer {
    // margin: 20px 0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.timerStatus {
    // margin-top: 5px;
    font-style: italic;
    color: #666;
}